@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: grid;
    grid-template-rows: 75px 1fr;
}

h2{
    background-color: #1e40af;
    color: #eef2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container{
    padding: 40px;
    background-color: #fefce8;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: 250px;
    gap: 50px;
}

.card{
    /* background-color: #f3e8ff; */
    border-radius: 10px;
    padding: 20px;
}

.card h3{
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content>div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card img{
    display: inline-block;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.utility{
    display: flex;
    justify-content: flex-end;
    margin-top: 44px;
    gap: 20px;
}

.add{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #f87171;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header{
    background-color: #142850;
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.overlay img{
    height: 30px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 10px;
}

.overlay h2{
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:#142850 ;
    display: inline-block;
}

.form-container{
    height: 400px;
    width: 300px;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color:  #fefce8;
}

.form-container form{
    padding: 30px 60px 20px;
}

.form-container label{
    font-weight: 700;
}

.form-container input{
    display: block;
    width: 90%;
    margin-bottom: 10px;
}

.form-container>form>div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.form-container>form>div>input{
    width: auto;
    display: inline-block;
    margin-bottom: 0;
}

.form-container>div:last-child{
    display: flex;
    justify-content: center;
}

.form-container button{
    height: 30px;
    width: 40%;
    border-radius: 10px;
    background-color: #142850;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#card-1 .content>p:last-child{
    font-size: 100px;
}
